/cool.mac.bigsur.exe
/.vscode
*.cl
*.cl-lex
*.cl-type
*.cl-ast
parsetab.py
parser.out
cool.mac.bigsur.exe
/Language_support/client/node_modules/*
/Language_support/client/out/*
/Language_support/server/node_modules/*
/Language_support/server/out/*
